#main {
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
#home-intro {
  margin-top: 50px;
  padding: 10px;
}
ul#menu li {
  display: inline;
}
#container {
  background-image: url(/home/simplonco/Nodejs/nodejs.pro/img/background.png);
  width: auto;
  height: 195px;
  flex: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
img {
  width: 404px;
  height: 110px;
}
#europe {
  margin: 20px 10px 20px 20px;
}
#node {
  position: relative;
}
#interactive {
  color: white;
  font-family: arial;
  font-size: 36px;
  position: absolute;
  right: 1px;
  top: 95px;
}
#pantone {
  padding: 0 90px 0 20px;
  width: 356px;
  height: 155px;
}
#austin {
  margin: 20px 10px 20px 20px;
}
.europe {
  width: 444px;
  height: 150px;
}
.austin {
  width: 444px;
  height: 150px;
}
.europe:hover {
  background-color: #43853d;
}
.austin:hover {
  background-color: #43853d;
}
.footer {
  background-color: #333333;
}
.footer p {
  color: white;
}
.footer h5 {
  color: white;
  font-size: 13px;
}
.footer p a {
  color: #A4A4A4;
  font-size: 13px;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer a span {
  color: #307C41;
  font-size: 20px;
}
li {
  list-style-type: none;
  position: relative;
  float: right;
  margin: 5px;
  padding: 3px;
}
.line {
  border-right: 1px solid #A4A4A4;
  border-left: 1px solid #A4A4A4;
}
.container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  overflow: hidden;
}
div a {
  font-size: 30px;
}
div li a {
  font-size: 10px;
}
