
#main {
  text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
#home-intro {
margin-top: 50px;
padding: 10px;
}
ul#menu li {
    display:inline;}
